@'
# CMake / build
/build/
/out/
/install/
/CMakeFiles/
/CMakeCache.txt
cmake-build-*/
**/Debug/
**/Release/

# VS / VS Code
.vs/
.vscode/
*.VC.db
*.VC.opendb

# Binaries / intermediates
*.exe
*.dll
*.lib
*.pdb
*.obj
*.iobj
*.ipdb
*.log
vpn-service.log
'@ | Out-File -Encoding utf8 .gitignore
